<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compare Advanced Stats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Compare Advanced Stats</h1>
        
        {% if stats %}
            <table class="stats-table">
                <tr>
                    <th>Stat</th>
                    <th>{{ player1_name }}</th>
                    <th>{{ player2_name }}</th>
                </tr>
                <tr>
                    <td>Player Efficiency Rating (PER)</td>
                    <td>{{ stats[player1_name]['Player Efficiency Rating'] }}</td>
                    <td>{{ stats[player2_name]['Player Efficiency Rating'] }}</td>
                </tr>
                <tr>
                    <td>True Shooting Percentage (TS%)</td>
                    <td>{{ stats[player1_name]['True Shooting Percentage'] }}%</td>
                    <td>{{ stats[player2_name]['True Shooting Percentage'] }}%</td>
                </tr>
                <tr>
                    <td>Box Plus/Minus (BPM)</td>
                    <td>{{ stats[player1_name]['Box Plus/Minus'] }}</td>
                    <td>{{ stats[player2_name]['Box Plus/Minus'] }}</td>
                </tr>
                <tr>
                    <td>Value Over Replacement Player (VORP)</td>
                    <td>{{ stats[player1_name]['Value Over Replacement Player'] }}</td>
                    <td>{{ stats[player2_name]['Value Over Replacement Player'] }}</td>
                </tr>
            </table>
        {% else %}
            <p>No data available for the specified players.</p>
        {% endif %}
<form action="{{ url_for('main.index') }}" method="post">
            <button type="submit" class="btn">Back to Home</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>