<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Player Stats</title>
</head>
<body>
    <h1>One Player Stats</h1>

    <!-- Form for Basic Stats -->
    <form action="{{ url_for('main.player_basic_stats') }}" method="post">
        <label for="player_name">Enter Player Name for Basic Stats:</label>
        <input type="text" id="player_name" name="player_name" placeholder="Enter Player Name" required>
        <input type="submit" value="Get Basic Stats">
    </form>

    <!-- Form for Advanced Stats -->
    <form action="{{ url_for('main.player_advanced_stats') }}" method="post">
        <label for="player_name_advanced">Enter Player Name for Advanced Stats:</label>
        <input type="text" id="player_name_advanced" name="player_name" placeholder="Enter Player Name" required>
        <input type="submit" value="Get Advanced Stats">
    </form>

</body>
</html>
